/frontend/node_modules/
/frontend/package-lock.json
/frontend/npm-debug.log*

/frontend/cache/
/backend/venv/
/backend/src/static/css

criar_admin.py

*.py[cod]
/__pycache__/
*.pyd
*.so
*.sqlite
*.db
/backend/*.db # 
.env
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db
/dist/
/build/