<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labelson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <main>
        <div class="menu_container">
            <div class="menu_card">

            </div>
            <div class="menu_card">

            </div>
            <div class="menu_card">

            </div>
            <div class="menu_card">
                
            </div>
        </div>
    </main>
</body>
</html>