// 1. CORES PRINCIPAIS
$color-sidebar:#1E2B5D;
$color-text:#1A202C;
$color-primary:#00418B;
$color-background:#e2ecff;
$color-white:#FFFFFF;
$color-message--bot: #86b1cf;
$color-button:#1E2B5D;

// 2. CORES DE INTERAÇÃO
$color-primary-hover: #2c3e83; 
$color-secondary:     #2A658A;
$color-disabled:      #A6B2C8;


// 3. CORES DE FEEDBACK (Status)
$color-success: #4CAF50;
$color-warning: #FFC107;
$color-error:   #D32F2F;
$color-info:    #2196F3;