// 1. CORES PRINCIPAIS
$color-sidebar:#2A658A;
$color-text:#0B415F;
$color-primary:#00418B;
$color-background:#F4F6FC;
$color-white:#FFFFFF;

// 2. CORES DE INTERAÇÃO
$color-primary-hover: #155577; 
$color-secondary:     #2A658A;
$color-disabled:      #A6B2C8;


// 3. CORES DE FEEDBACK (Status)
$color-success: #4CAF50;
$color-warning: #FFC107;
$color-error:   #D32F2F;
$color-info:    #2196F3;