// 1. CORES PRINCIPAIS
// 1. CORES PRINCIPAIS
$color-sidebar:      #f8fcff;
$color-background:   #eef2f7;
$color-white:        #FFFFFF;
$color-text:         #193f76;
$color-primary:      #5285D8;
$color-button:       #013d92;
$color-message--bot: #abcbff;
$color-border:       #073575;

// 2. CORES DE INTERAÇÃO
$color-primary-hover: #416BB5;
$color-secondary:     #DCE8FA;
$color-disabled:      #A0AEC0;

// 3. CORES DE FEEDBACK (Status)
$color-success: #4CAF50;
$color-warning: #FFC107;
$color-error:   #D32F2F;
$color-info:    #2196F3;