@use '../variables';

// O contêiner principal do chat
.chat-container {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    height: 100vh; 
    width: 100%;
    padding: 1vh 2vh;
    box-sizing: border-box;
}

// A área onde as mensagens aparecem
.chat {
    height: 100vh;
    width: 80%;
    align-self: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__input-area {
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    bottom: 2rem;
    width: 80%;
    gap: 10px;
    border: 1px solid variables.$color-secondary;
    border-radius: 30px;
    background-color: variables.$color-white;

    input[type="text"] {
        background-color: transparent;
        flex-grow: 1; 
        border: none;
        outline: none;
        font-size: 1rem;
    }

    button {
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 5px;
        border-radius: 50px;
        border: none;
        color: variables.$color-white;
        background-color: variables.$color-button;

        img{
            width: 24px;
        }

        &:hover {
             background-color: variables.$color-primary-hover;
        }
    }
}
}

// Estilo base para todas as mensagens
.message {
    padding: 12px 15px;
    border-radius: 15px;
    max-width: 70%;
    line-height: 1.4;
}

// Mensagem do BOT
.message--bot {
    background-color: variables.$color-message--bot;
    color: variables.$color-text;
    align-self: flex-start;
    border-bottom-left-radius: 2px;
}

// Mensagem do USUÁRIO
.message--user {
    background-color: variables.$color-primary-hover;
    color: #ffff !important;
    align-self: flex-end;
    border-bottom-right-radius: 2px;
}


.htmx-indicator {
    display: none;
    color: #888;
    font-style: italic;
}
.htmx-request .htmx-indicator {
    display: block;
}