@use '../variables';

// O contêiner principal do chat
.chat-container {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    height: 100vh; 
    width: 100%;
    padding: 1vh 2vh;
    box-sizing: border-box;
}

// A área onde as mensagens aparecem
.chat {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    border-radius: 8px;
    background-color: variables.$color-white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

// Estilo base para todas as mensagens
.message {
    padding: 12px 15px;
    border-radius: 15px;
    max-width: 70%;
    line-height: 1.4;
}

// Mensagem do BOT
.message--bot {
    background-color: #f1f1f1;
    color: variables.$color-text;
    align-self: flex-start;
    border-bottom-left-radius: 2px;
}

// Mensagem do USUÁRIO
.message--user {
    background-color: variables.$color-sidebar;
    color: variables.$color-white;
    align-self: flex-end;
    border-bottom-right-radius: 2px;
}

// A área de input (formulário)
.chat__input-area {
    display: flex;
    bottom: 2rem;
    width: 80%;
    gap: 10px;

    input[type="text"] {
        flex-grow: 1; // Faz o input ocupar o máximo de espaço
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
    }

    button {
        padding: 12px 20px;
        background-color: variables.$color-secondary;
        color: variables.$color-white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: ease-in-out 0.3s;

        &:hover {
            background-color: variables.$color-primary-hover;
        }
    }
}

// Estilo do indicador de "Digitando..." 
.htmx-indicator {
    display: none;
    color: #888;
    font-style: italic;
}
// Quando o htmx está fazendo uma requisição, ele mostra o indicador
.htmx-request .htmx-indicator {
    display: block;
}