<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="sidebar__logo">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                </div>
                <nav class="sidebar">
                    <ul class="sidebar__links">
                        <li class="sidebar__link">
                            <img src="{{ url_for('static', filename='img/chat-icon.png') }}" alt="Chat">
                            <a href="" hx-get="{{ url_for('chat') }}" hx-target="#content-target">
                                Chat
                            </a>
                        </li>
                        <li class="sidebar__link">
                            <img src="{{ url_for('static', filename='img/menu-icon.png') }}" alt="Menu">
                            <a href="" hx-get="{{ url_for('menu') }}" hx-target="#content-target" >
                                Menu
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main id="content-target" hx-trigger="load" hx-get="chat">
            
        </main>
    </body>
    <script src="{{ url_for('static', filename='htmx.min.js')}}"></script>

</html>