<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="sidebar__logo">
                <img src="/frontend/src/img/logo_32x32.png" alt="">
            </div>
            <nav class="sidebar">
                <ul class="sidebar__links">
                    <li class="sidebar__link"><a href="#">Menu</a></li>
                    <li class="sidebar__link"><a href="#">Chat</a></li>
                    <li class="sidebar__link"><a href="#">Treinamento</a></li>
                    <li class="sidebar__link"><a href="#">Avalições</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>